<h1 mat-dialog-title>{{ dialogTitle }}</h1>

<div [formGroup]="form_cadastros">
    <mat-dialog-content>

        <mat-form-field class="nome">
            <input type="string" placeholder="Nome" matInput formControlName="nome">
        </mat-form-field>

        <!-- ========================================= -->
        <mat-form-field>
            <mat-label>Categoria </mat-label>
            <mat-select matNativeControl formControlName="categoria">
                <!-- <optgroup label="Ano"> -->
                    <mat-option value="cliente">Cliente</mat-option>
                    <mat-option value="colaborador">Colaborador</mat-option>
                    <mat-option value="representante">Representante</mat-option>
                <!-- </optgroup> --> 
            </mat-select>
        </mat-form-field>


        <mat-form-field class="celular">
            <input type="string" placeholder="celular" matInput formControlName="celular">
        </mat-form-field>    
        <mat-form-field class="fixo">
            <input type="string" placeholder="fixo" matInput formControlName="fixo" >
        </mat-form-field>

        <!-- ========================================= -->       
        
        <mat-form-field class="email">
            <input type="string" placeholder="email" matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="rg">
            <input type="string"  placeholder="rg" matInput formControlName="rg">
        </mat-form-field>

        <mat-form-field class="cpf">
            <input type="string" placeholder="cpf" matInput formControlName="cpf">
        </mat-form-field>

        <!-- =-------------------- -->
        <mat-form-field class="cnpj">
            <input type="string" placeholder="cnpj" matInput formControlName="cnpj">
        </mat-form-field>

        <mat-form-field class="insc">
            <input type="string" placeholder="insc" matInput formControlName="insc">
        </mat-form-field>

        <mat-form-field class="cep">
            <input type="string" placeholder="cep" matInput formControlName="cep">
        </mat-form-field>
        <!-- ----------------------- -->

        <mat-form-field class="bairro">
            <input type="string" placeholder="bairro" matInput formControlName="bairro">
        </mat-form-field>

        <mat-form-field class="uf">
            <input type="string" placeholder="uf" matInput formControlName="uf">
        </mat-form-field>
        <!-- ----------------------- -->

        <mat-form-field class="cidade">
            <input type="string" placeholder="cidade" matInput formControlName="cidade">
        </mat-form-field>

        <mat-form-field class="rua">
            <input type="string" placeholder="rua" matInput formControlName="logradouro">
        </mat-form-field>

        <mat-form-field class="numero">
            <input type="string" placeholder="numero" matInput formControlName="numero">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [disabled]="form_cadastros.invalid" (click)="onSave()">Salvar</button>
    </mat-dialog-actions>
</div>    