.cr {
  width: 47%;
  display: inline-block;
  margin: 2px;
}

mat-form-field {
  display: contents !important;
}

.body{
  /* background-color: aquamarine; */
  /* margin-left: 10px; */
  padding: 5px;
  background: whitesmoke;
}
/* LISTA BODY */
.body ul li {
  list-style: none;
}
.body ul {
  padding: 0;
  margin: 0;
}
app-caixa-cadastro {
  display: flex;
}
/* FIM DA LISTA DO BODY */

.addItem {
  display: flex;
}

div#cod{
  width: 35%;
  margin-right: 5px;
}
div#qtd {
  width: 35%;
  margin-right: 6px;
}
div#botao {
  width: 25%;
  height: 45px;
  display: grid;
}

/* mat-form-field.CR {
    width: 100%;
} */

/* mat-form-field.cod {
    width: 67%;
}

mat-form-field.qtd {
    width: 29%;
} */

/* button.adicionar{
    margin: 0 auto;
    display: flex;
    padding: 10px 61px;
    font-size: x-large;
    margin-top: 29px;
} */


.valorUnidade {
  color: #062fab;
}
.valorTotal {
  color: #0e8455;
}
mat-hint#mat-hint-0 {
  font-size: larger;
}

/* .viewItemAtual {
    float: right;
}
 */
