<div class="body">
    <ul>
        <li>
            <div class="cr">
                <mat-form-field class="CR" id="cliente">
                    <mat-label>Cliente</mat-label>
                    <mat-select [(value)]="selectCliente" required (selectionChange)="onSelectCliente()">
                        <ng-container *ngFor="let cadastro of cadastro$ | async">
                            <mat-option
                                *ngIf="(cadastro.categoria !== 'colaborador') && (cadastro.categoria !== 'representante')"
                                value="{{cadastro.uid}}">
                                <!-- so exibe os clientes -->
                                {{cadastro.nome| uppercase}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="cr">
                <mat-form-field class="CR" id="representante">
                    <mat-label>Representante</mat-label>
                    <mat-select [(value)]="selectRepresentante" required (selectionChange)="onSelectRepresentante()">
                        <ng-container *ngFor="let cadastro of cadastro$ | async">
                            <mat-option *ngIf="cadastro.categoria === 'representante'" value="{{cadastro.uid}}">
                                <!-- so exibe os representantes -->
                                {{cadastro.nome | uppercase}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </li>
        <li>
            <form class="example-form" [formGroup]="formulario" (ngSubmit)="ngSubmit()">
                <div class="addItem">
                    <!-- codigo -->
                    <div id="cod">
                        <mat-form-field class="form-group">
                            <input matInput type="number" id="inputCod" (change)="codigoEvent($event)"
                                formControlName="cod" class="form-control" placeholder="cod" [min]="1">
                        </mat-form-field>
                    </div>
                    <!-- qtd -->
                    <div id="qtd">
                        <mat-form-field class="form-group ">
                            <input matInput type="number" id="inputQtd" formControlName="qtd" class="form-control"
                                (keyup)="onQtd($event)" placeholder="qtd" [min]="1">
                        </mat-form-field>
                    </div>
                    <!-- botao -->
                    <div id="botao">
                        <button mat-raised-button class="adicionar" color="primary"
                            [disabled]="!formulario.valid">adicionar</button>
                    </div>
                </div>
                <div class="viewItemAtual">
                    {{nomeProduto}} <b class="valorUnidade">{{valorUnidade | currency: 'BRL'}}</b> x
                    {{valorQtd}} = <b class="valorTotal">{{valorTotal | currency: 'BRL'}}</b>
                </div>
            </form>
        </li>
    </ul>
</div>