<div class="titleFull">
    <div>
        <!-- <button mat-button (click)="backPage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button> -->
        <h4>Codigo: {{codigo}}</h4>
    </div>
</div>
<br>
<div class="global">
    <div class="form">
        <!-- formulario cadastro  -->
        <app-caixa-cadastro (adicionado)="atualizar()"></app-caixa-cadastro>
    </div>
    <div class="list">
        <div class="view-valor-total">{{valorTotal | currency: 'BRL'}}</div>
        <ul class="lista-produtos">
            <li class="headerList">
                    <div class="codigo">cod</div>
                    <div class="nomeProdutoHeader">produto</div>
                    <div class="qtd">qtd</div>
                    <div class="valor">valor</div>
                    <div class="total">Total</div>
                    <div class="btDelete"></div>
            </li>
            <li  *ngFor="let item of listaProdutos, let i = index">
                <!-- component item -->
                <app-li-item [index]="i" [item]="item" (deletado)="atualizar()"></app-li-item>
            </li>
        </ul>
    </div>
</div>

