.global{
    display: flex;
}
.form, .list {
    padding: 12px;
    width: 35%;
}


/* LISTA DE INTENS PRODUTO */
.list {
    padding: 12px;
    width: 65%;
}
ul.lista-produtos {
    list-style: none;
    padding: 5px;
}
ul.lista-produtos li {
    padding: 6px 9px;
    border: 1px solid #ececec;
}
li.headerList {
    display: flex;
}
li.headerList div {
    text-align: center;
}
.view-display h3 {
    padding: 6px 9px;
}
.index{
    display: none;
}

.nomeProdutoHeader {
    width: 74%;
}
.listZebra {
    background-color: #f7f7f7;
}
/* FIM DA LISTA DE INTENS PRODUTO */


.desconto {
    width: 22%;
}
.parcelas {
    width: 30%;
}
.valorTotalColor{
    color: #30b4b1;
}
.valorSubTotalColor{
    color: #0bc186;
}
span.valorTotal {
    font-weight: bolder;
    font-size: 1.16em;
}
button.mat-flat-button {
    margin: 3px 8px 14px 6px;
}

#print{
    background: bisque;
    
}