<h1 mat-dialog-title>{{ dialogTitle }}</h1>

  
<mat-dialog-content>
    <form [formGroup]="form_produtos">  
    <ol>
        <li>
            <mat-form-field>
                <input type="number" placeholder="código" [disabled]="atualizarProduto"  matInput formControlName="codigo">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input type="text" placeholder="Nome" matInput formControlName="nome">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input type="number" placeholder="Valor" matInput formControlName="valor">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input type="text" placeholder="Descrição" matInput formControlName="descricao">
            </mat-form-field>
        </li>
    </ol>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [disabled]="form_produtos.invalid" (click)="onSave()">Salvar</button>
    </mat-dialog-actions>
</form>
</mat-dialog-content>

