<h1 mat-dialog-title>{{ dialogTitle }}</h1>

<mat-dialog-content>
    <ol>
        <li>
            <mat-form-field>
                <input type="number" placeholder="código" [disabled]="atualizarProduto"  matInput [(ngModel)]="novoProduto.codigo" required minlength="3"
                    #titleControl="ngModel">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input type="text" placeholder="Nome" matInput [(ngModel)]="novoProduto.nome" required minlength="3"
                    #titleControl="ngModel">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input type="number" placeholder="Valor" matInput [(ngModel)]="novoProduto.valor" required minlength="3"
                    #titleControl="ngModel">
            </mat-form-field>
        </li>
        <li>
            <mat-form-field>
                <input type="text" placeholder="Descrição" matInput [(ngModel)]="novoProduto.descricao"  minlength="3">
            </mat-form-field>
        </li>
    </ol>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [disabled]="titleControl.invalid" (click)="onSave()">Salvar</button>
</mat-dialog-actions>