table {
    width: 100%;
    padding: 10px;
  }

.bt{
      /* float: left; */
      width: 50px;
  }

<<<<<<< HEAD
  /* Structure  dd*/
=======
  /* Structure jose*/
>>>>>>> config-firestore
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
