<div class="titleFull">
    <div>
        <button mat-button (click)="backPage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h4>lISTA DE PRODUTOS</h4>
    </div>
</div>
<button mat-fab class="fab-bottom-back btAdd">
    <mat-icon>add</mat-icon>
</button>

<div *ngIf="afAuth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>

<ul>
    <li *ngFor="let item of items | async">
      {{ item.codigo }}
    </li>
  </ul>