<p>historico-inicio works!</p>
<img src="../../../../assets/load.gif" *ngIf="loading" class="spinner" alt="">

<!-- <ul class="lista-historico">
    <li class="headerList">
        <div>
            codigo
        </div>
    </li>
    <li *ngFor="let item of historico$ | async, let i = index" [ngClass]="liZebra(i)">
        <td class="codigo">{{item.codigo}}</td>
    </li>
</ul> -->

<table>
    <caption>HISTÓRICO DE VENDAS</caption>
    <thead>
        <tr>
        <th>Codigo</th>
        <th>Data</th>
        <th>Visualizar</th>
        <th>Deletar</th>
        </tr>
    </thead>
    <tr *ngFor="let item of pedidos$ | async">
    <td>{{item.codigo}}</td>
    <td>{{item.dataCreate.seconds*1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
    <td>
        <button (click)="updatePedido(item)">vizualizar</button>
    </td>
    <td>
        <button (click)="deletePedido(item)">Deletar</button>
    </td>
    </tr>
</table>
       
      