<div class="titleFull">
    <div>
        <button mat-button (click)="backPage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h4>HISTÓRICO DE VENDAS</h4>
    </div>
</div>

<img src="../../../../assets/load.gif" *ngIf="loading" class="spinner" alt="">

<div class="tableBody">

<div class="anoMes">
    <!-- ano e mes -->
    <mat-form-field>
        <mat-label>Ano </mat-label>
        <mat-select matNativeControl [(value)]="ano">
            <!-- <optgroup label="Ano"> -->
                <mat-option value="2019">2019</mat-option>
                <mat-option value="2020">2020</mat-option>
                <mat-option value="2021">2021</mat-option>
            <!-- </optgroup> -->
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Mes </mat-label>
        <mat-select matNativeControl [(value)]="mes">
            <!-- <optgroup label="Mes"> -->
                <mat-option value="01">Janeiro</mat-option>
                <mat-option value="02">Fevereiro</mat-option>
                <mat-option value="03">Março</mat-option>
                <mat-option value="04">Abril</mat-option>
                <mat-option value="05">Maio</mat-option>
                <mat-option value="06">Junho</mat-option>
                <mat-option value="07">Julho</mat-option>
                <mat-option value="08">Agosto</mat-option>
                <mat-option value="09">Setembro</mat-option>
                <mat-option value="10">Outubro</mat-option>
                <mat-option value="11">Novemro</mat-option>
                <mat-option value="12">Desembro</mat-option>
            <!-- </optgroup> -->
        </mat-select>
    </mat-form-field>
</div>
<table>
    <!-- <caption>HISTÓRICO DE VENDAS</caption> -->
    <thead>
        <tr>
        <th>Codigo</th>
        <th>Data do registro</th>
        <th class="bts">#</th>
        </tr>
    </thead>
    <tbody>    
        <ng-container *ngFor="let item of pedidos$ | async">
            <tr *ngIf="( (item.dataCreate.seconds*1000 | date: 'yyyy-MM') == (ano + '-' + mes )) ">
                <td>{{item.codigo}}</td>
                <td>{{item.dataCreate.seconds*1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td class="bts">
                    <!-- <button mat-icon-button (click)="showDialogPrint(item)">
                        <mat-icon>print</mat-icon>
                    </button> -->
                    <button mat-icon-button (click)="updatePedido(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deletePedido(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>

</table>
    
</div>
    

