/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


@media print {
    * {
        background:transparent !important;
        color:#000 !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
    }

    #tab, #btPrint{
        display: none;
    }

    body {
        margin:0;
        padding:0;
        line-height: 1.4em;
    }

    header {
        display: none;
    } 

    footer {
        display: none;
    }

    .content {
        display: block;
    }

    img {
        max-width: 100%;
    }
}


html, body{
    margin: 0px;
    height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.titleFull {
    text-align: center;
    background: #f5f5f5;
    display: grid;
    color: #a7a7a7;
}
.titleFull h4 {
    margin: 11px;
}

tr:hover {
    background: #f5f5f5;
}

.btAdd {
    background-color: #2eb9b2 !important;
}
.spinner {    
    margin: 0 auto;
    display: flex;
    width: 165px;
  }

.fab-bottom-back{
    position: fixed !important;
    bottom:15px;
    right: 15px;
}

.titleFull>div {
    display: flex;
    width: 300px;
    margin: 0 auto;
}
.titleFull>div>button{
    background-color: #ececec;
}

.fab-bottom-right{
    position: fixed !important;
    bottom:15px;
    right: 15px;
  }


/* form cadastro */
mat-form-field.nome, mat-form-field.email {
    width: 99%;
}

mat-form-field.cidade {
    width: 56%;
}
mat-form-field.bairro {
    width: 29%;
}
mat-form-field.uf {
    width: 11%;
}

mat-form-field.rua {
    width: 89%;
}
mat-form-field.numero {
    width: 9%;
}

mat-form-field.rg, mat-form-field.cpf {
    width: 49%;
}

mat-form-field.cnpj, mat-form-field.insc, mat-form-field.cep, mat-form-field.celular, mat-form-field.fixo, mat-form-field.categoria {
    width: 32%;
}
mat-form-field {
    margin-right: 5px;
}

.tableBody{
    padding: 10px;
  }
.qtd {
    width: 10%;
}
.codigo {
    width: 10%;
}
.valor{
    width: 27%;
    padding-left: 15px;
}
.nomeProduto {
    width: 87%;
}
.total{
    width: 29%;
}


